
/* цвета текста*/

$light-text: #fff;
$dark-text: #231f20;
$black-text: #000;
$warning: #d30531;


/* цвета фона*/

$light-bg: #fff;
$light-blue-bg: #e6ecf1;
$btn-bg: #d30531;
$btn-bg-darken: #970423;
$black-bg: #000; /* подложка модального окна*/


/* акцентный цвет страницы: текст, ссылки, заливка значков*/

$blue: #0777ba;


/* перекрывающий цвет для изображений*/

$overlay: rgba(#004685, 0.7);


/* нижняя граница блока pay-block*/

$pay-block-border: #e6ecf1;
